* {
	background-color: pink;
}

h1 {
	margin-top: 50px;
	text-align: center;
}

h2 {
	text-align: center;
}

#lobes {
	width: 600px;
	height: 450px;
	margin: 0 auto;
	border: solid 2px black;
	background-image: url("brainlobes.jpg");
	background-size: cover;
}

#frontal {
	display: inline-block;
	margin-top: 39px;
	margin-left: 40px;
}

#parietal {
	display: inline-block;
	margin-top: 0px;
	margin-left: 260px;
}

#temporal {
	display: inline-block;
	margin-top: 330px;
	margin-left: 52px;
}

#occipital {
	display: inline-block;
	margin-top: 129px;
	margin-left: 457px;
}

#brainstem {
	display: inline-block;
	margin-top: 390px;
	margin-left: 97px;
}

#cerebellum {
	display: inline-block;
	margin-top: 360px;
	margin-left: 451px;
}

p {
	background-color: white;
	margin:0;
	padding: 0;
	font-size: 16px;
}